*__pycache__/
*__pycache__*
/SimulationResults/*
/Scripts/*
*.pyc
convertJSONtoparams.py
loadmatlabscenario.py
matlabscenario.json
loadmatlabpatients.py
.idea/*


/eval_meal_est.py
/roc_results8.pkl



questions/
SimulationData/
SimulationResults/

*.zip
*.csv
*.jsonl
*.txt

sample_output/
data/